[Desktop Entry]
Encoding=UTF-8
Icon=/usr/local/share/openfetion/skin/fetion.svg
Name=OpenFetion
Name[en_GB]=OpenFetion
Name[zh_CN]=飞信(OpenFetion)
Comment=Fetion For Linux
Comment[zh_CN]=Linux版飞信客户端
Exec=openfetion
StartupNotify=true
Terminal=false
Type=Application
Categories=Network;InstantMessaging;
